* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
.color-switcher__button {
  width: 100px;
  height: 100px;
  font-size: 36px;
  border-color: grey;
  color: white;
}
.start {
  margin-right: 20px;
  background-color: green;
}

.stop {
  background-color: grey;
}

.stop-active {
  background-color: red;
}

.timer {
  display: flex;
  justify-content: center;
}

.timer {
  margin-top: 20px;
}
.field {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
  font-size: 80px;
  color: white;
  background-color: rgb(124, 123, 123);
  border: 2px solid rgb(54, 54, 54);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:hover, .field:focus {
    background-color: rgb(42, 139, 42);
}

.field:last-child {
  margin-right: 0;
}

.timer__button {
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  width: 50px;
  height: 30px;
  color: white;
}

.timer__start {
  background-color: green;
}

.timer__stop {
  background-color: red;
}

.timer__pause {
  color: black;
  background-color: yellow;
}
.inactive {
  display: none;
}

#datetime-picker {
  height: 30px;
  text-align: center;
}